img {
    max-height: 350px;
    max-width: 450px;
    border: 1px solid var(--fg);
}

a:link,
a:visited,
a:active,
a:hover
{
    color: #0dbd8b;
    text-decoration:underline;
}

a.hover {
    text-decoration:underline;
}
