.content-wrap img {
    max-height: 350px;
    max-width: 450px;
    border: 1px solid var(--color-primary);
}

.content-wrap a:link,
.content-wrap a:visited,
.content-wrap a:active,
.content-wrap a:hover
{
    color: #0dbd8b;
}

.content-wrap a:link,
.content-wrap a:visited,
.content-wrap a:active
{
    text-decoration: none !important;
}

.content-wrap a:hover {
    text-decoration: underline !important;
}
